<html>
<head>
  <title>Puppet Validator</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="scripts.js"></script>
</head>
<body>
  <a href="https://github.com/puppetlabs/puppet-validator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  <h1>Puppet Code Validator</h1>
  <p>Paste Puppet code into the following textbox and check it for validity.</p>
  <form action="/validate" method="post">
    <% if settings.csrf %><input name="_csrf", type="hidden" value="<%= session[:csrf] %>" /><% end %>
    <div class="entry">
      <textarea name="code" id="code" cols="65" rows="25"></textarea>
      <div class="row">
        <input type="submit" value="Validate" id="validate">
      </div>
      <div class="row">
        Puppet version
        <select id="versions" name="version">
          <% @versions.each do |version| %>
          <option><%= version %></option>
          <% end %>
        </select>
        <label><input type="checkbox" name="lint" id="lint" onchange="toggleChecks();">Include <code>puppet-lint</code> style checks.</label>
        <a id="customize" class="button" href="javascript:toggleMenu();">customize &#9662;</a>
        <% if settings.graph %><label><input type="checkbox" name="relationships" id="relationships">Show relationships.</label><% end %>
      </div>
      <fieldset id="checks-menu" class="menu">
        <legend>Enabled Lint Checks</legend>
        <ul id="checks">
          <% @checks.each do |check| %>
          <li><label>
            <input type="checkbox" name="checks[]" value="<%= check %>" id="check_<%= check %>" <% unless @disabled.include? check %>checked<% end %>><%= check %></input>
          </label></li>
          <% end %>
        </ul>
      </fieldset>
    </div>
  </form>
  <div class="info">
    <p><strong>Be aware that valid syntax does not mean you have valid code.</strong></p>
    <p>
      The validator <em>only validates syntax</em> and doesn't actually compile or enforce
      a catalog. This means that there are many mistakes that it will not identify. See
      <a href="/testing.html">more information</a> on testing and validating Puppet code.
    </p>
    <p>
      If you show relationships, then we'll try to compile an abbreviated catalog. This
      won't use any facts, and won't know how to compile non-core resource types. See
      <a href="/relationships.html">more information</a> on building a self-contained
      catalog in order to generate a dependency graph.
    </p>
  </div>
</body>
</html>
