<html>
<head>
  <title>Puppet Validator</title>
  <link rel="stylesheet" href="prism-default.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="prism.js"></script>
</head>
  <body>
    <h1>Validation Results</h1>
    <fieldset class="results <%= @status %>">
      <legend>Puppet version <%= @version %></legend>
      <p><%= @message %></p>
      <% if @line %>
        <div class="row">
          <span class="label">Line Number:</span><span class="message"><%= @line %></span>
        </div>
      <% end %>
      <% if @column  %>
        <div class="row">
          <span class="label">Column:</span><span class="message"><%= @column %></span>
        </div>
      <% end %>
      <% if @lint_warnings  %>
        <hr />
        <p>See inline <code>puppet-lint</code> warnings.</p>
      <% end %>
    </fieldset>
    <pre data-line='<%= @highlights %>' class="line-numbers language-puppet"><code class="line-numbers language-puppet"><%= @code %></code></pre>
    <div class="links"><a href="javascript:history.back();">Try Again</a> &bull; <a href="/">Validate More Code</a></div>
    <p class="info">
      Be aware that this has <em>only validated syntax</em>. It will not compile or
      enforce a catalog, which means that there are many mistakes that it cannot
      identify. See <a href="/testing.html">more information on testing and
      validating Puppet code.</a>
    </p>
  </body>
</html>
