<html>
<head>
  <title>Puppet Validator</title>
  <link rel="stylesheet" href="prism-default.css">
  <link rel="stylesheet" href="styles.css">
  <script src="prism.js"></script>
</head>
  <body>
    <h1>Validation Results</h1>
    <div class="results <%= @status %>">
      <p><%= @message %></p>
      <% if @line %>
        <div class="row">
          <span class="label">Line Number:</span><span class="message"><%= @line %></span>
        </div>
      <% end %>
      <% if @column  %>
        <div class="row">
          <span class="label">Column:</span><span class="message"><%= @column %></span>
        </div>
      <% end %>
      <% if @lint_warnings  %>
        <hr />
        <p>See inline <code>puppet-lint</code> warnings.</p>
      <% end %>
    </div>
    <pre data-line='<%= @highlights %>' class="line-numbers language-puppet"><code class="line-numbers language-puppet"><%= @code %></code></pre>
    <div class="links"><a href="javascript:history.back();">Try Again</a> &bull; <a href="/">Validate More Code</a></div>
    <p class="info">
      Be aware that this has <em>only validated syntax</em>. It will not compile a
      catalog or sync any resources. This means that, for example, it cannot
      identify whether you have used the proper resource types, whether package
      names are correct, or file paths exist.  See <a href="/testing.html">more
      information on testing and validating Puppet code.</a>
    </p>
  </body>
</html>
